.motionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid seagreen;
}
.motion {
  width: 150px;
  height: 150px;
  margin-top: 25px;
  background-color: tomato;
  transition: transform;
  transition-delay: 2s;
}

.motion:hover {
  /* transform: translate(50px, 100px); */
  /* transform: rotate(-20deg); */
  transform: scaleY(2);
}
